

$nmui_color_body_bg: #f5f6fa;
$nmui_color_black: #212121;
$nmui_color_grey_dark: #3a405e;
$nmui_color_grey_darky: #494F6B;
$nmui_color_grey_medium: #788D98;
$nmui_color_grey_bluey: #8e8fad;
$nmui_color_grey_light: #D4DDE3;
$nmui_color_grey_lightest: #eff4f7;


$nmui-color-blue: #0d98fc;
$nmui-color-blue-light: #cfeafe;
$nmui-color-green: #2af399;
$nmui-color-green-light: #aafad6;
$nmui-color-margenta:#a32ef0;
$nmui-color-indigo:#7579ff;

$body_bg: $nmui_color_body_bg;
$body-color: $nmui_color_black;

$container-padding-x: 3rem;
$line-height-base: 1.2;
$line-height-sm: 1.1;
$line-height-lg: 1.5;




