.nmui-popup {

    opacity: 0;
    pointer-events: none;
    z-index: -10000;
    transform: scale(1.1);
    transition: 0.3s;
    
    &.nmui-popup-open {
        transform: scale(1);
        opacity: 1;
        pointer-events: all;
    }
    
    display: flex;
    position: fixed;
    inset: 0;
    background: #00000040;
    z-index: 100000;

    align-items: center;
    justify-content: center;


    .nmui-popup-wrapper {

        position: relative;

        background: white;

        border-radius: 30px;

        max-width: 90vw;
        max-height: 90vh;
        width: 700px;

        display: flex;
        flex-direction: column;

    }

    .nmui-popup-title {
        padding: 30px 40px 0;
    }
    .nmui-popup-content {
        padding: 30px 40px;
        flex-grow: 1;
        overflow-y: auto;
    }

    .nmui-popup-close {

        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
        padding: 10px;

    }

    .nmui-popup-buttons {
        border-top: 1px solid $nmui_color_grey_light;
        display: flex;
        width: 100%;
        > * {
            flex-grow: 1;
            padding: 20px 30px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            cursor: pointer;
        }
        .nmui-popup-button-close {
            color: $nmui_color_grey_medium;
        }
        .nmui-popup-button-process {
            color: $nmui-color-blue;
            border-left: 1px solid $nmui_color_grey_light;
        }

    }

}