

.widget-page-header {

    background: white;
    border-bottom: 1px solid $nmui_color_grey_light;

    .wrapper {
        display: flex;
        align-items: center;
    }

    .icon {
        fill: $nmui_color_grey_medium;
        &:hover {
            fill: $nmui_color_black;
        }
    }

    .ava {
        img {
            width: 45px;
            height: 45px;
            object-fit: cover;
            border-radius: 25px;
            margin: 0 10px;
        }

    }

    .empty {
        flex-grow: 1;
    }



}