

.widget-book {

    .__wrapper {

        border-radius: 24px;
        background-color: #3a405e;
        -webkit-box-shadow: 0px 10px 10px 0px rgba(58, 64, 94, .2);
        box-shadow: 0px 10px 10px 0px rgba(58, 64, 94, .2);

    }

    .__header {
        display: flex;
        align-items: center;
        .__dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $nmui-color-blue;
        }
        h4 {
            color: white;
            font-weight: 500;
            margin: 0;
            padding: 0;
            padding-left: 1rem;
        }
    }

}