
// Кастомизированные глобальные переменные Botstrap
@import "./_global_variables";

// Необходимые модули для кастомизации Bootstrap
@import  "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// Кастомизированные переменные Botstrap
@import "./_variables";

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// Дополнительные свойства
$utilities: map-merge(
  $utilities, (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true ),
    ),
  )
);
$utilities: map-merge(
  $utilities, (
    "width": map-merge(
      map-get($utilities, "width"),
      ( responsive: true ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "opacity": (
      property: opacity,
      values: (
        0: 0,
        15: 0.15,
        25: .25,
        50: .5,
        75: .75,
        100: 1,
      )
    ),
  )
);


@import "../node_modules/bootstrap/scss/utilities/api";


// Основные модули Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";


// Fonts
@import "../fonts/fonts.css";


// Font Awesome
$fa-font-path: "../webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

// Google fonts
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

// Стили модулей проекта
@import "./common";
@import "./page-header";
@import './page-footer';
@import './widget-book';
@import './widget-doctor-search';
@import './widget-directions-popular';
@import './page-grid';
@import './main-menu';
@import './dragscroll';
@import './widget-book-doctor';
@import './nmui-dropdown';
@import './nmui-folders';
@import './nmui-popup';

